@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=PT+Serif+Caption:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

main{ 
    display:flex; 
    flex-flow:column nowrap; 
    justify-content:start; 
    align-items:center; 
}

#search_page{

}
#search_page .heading{
    margin:20px auto; 
}
.product-list {
    width:100%; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Выравнивание по левому краю */
    /*margin-left: 80px;*/
    padding:0px 30px; 
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(25% - 20px);
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-desc {
    font-size: 0.9rem;
    color: #666;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.add-to-cart-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #333;
}

.back-link { 
    width:100%;
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;
    font-size: 1rem;
    color: #0056b3;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
    color: #003f8a;
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%;
    }

    .search-container {
        flex-direction: column;
    }
}